In [1]:
from matplotlib import pyplot as plt
import pandas as pt

In [2]:
data= pt.read_csv('Samples.csv')

In [3]:
data

   Model  2008  2009  2010  2011  2012  2013  2014  2015  2016  2017
0  Cycle     1     4     7    10    13    16    19    22    25    28
1   Bkye     2     5     8    11    14    17    20    23     2    29
2   Cars     3     6     9    12    15    18    21    24    27    30